@tailwind base;
@tailwind components;
@tailwind utilities;



.my-container{
    max-width: 1150px;
    margin: 0 auto;
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.6);
}
.active{
    background: greenyellow;
    padding: 7px 12px;
    border-radius: 6px;
  }